@use 'sass:math';

$breakpoints: (
    "desktop":640px,
    "br":540px,
    "table":815px
);

@mixin mq($breakpoint: destop) {
    @media(#{map-get($breakpoints,$breakpoint)} <=width) {
        @content;
    }
}

@mixin title-main() {
    margin-bottom: 40px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    font-weight: bold;
    line-height: math.div(27, 18);
}

$color-text: #404040;
$color-main: #985E5B;
$color-bg: #EDEFF2;

$font-family-base: "游ゴシック", "Yu Gothic", Helvetica, Arial, sans-serif;

@mixin inner($mw: 800px, $w: percentage(math.div(560, 640))) {
    min-width: $mw;
    width: $w;
    margin-right: auto;
    margin-left: auto;
}

body {
    color: $color-text;
    font-size: 15px;
    font-family: $font-family-base;
    line-height: math.div(24, 14);
    letter-spacing: #{math.div(100,1000)}em;
}

.img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

// common
// -----------------------------

// header
.header {
    padding: 40px 0;
    text-align: center;

    &__inner {
        @include mq();
    }
}

// main
// mainvisual
.mainvisual {
    margin-bottom: 100px;
    padding: 350px 0 120px;
    background: url(../images/pic_main.png) no-repeat center/cover;
    color: #fff;

    &__inner {
        @include inner();
    }

    &__title {
        margin-bottom: 40px;
        font-size: 42px;
        font-weight: bold;
        line-height: math.div(60, 42);
    }

    &__lead {
        font-size: 18px;
        line-height: math.div(22, 18);
    }
}

// concept
.concept {
    padding-bottom: 100px;

    &__inner {
        @include inner();
    }

    &__title {
        @include title-main();
    }

    &__text {
        display: grid;
        row-gap: 40px;
        text-align: center;

        @include mq(br) {
            word-break: keep-all;
        }
    }
}

// footer
.footer {
    padding: 40px 0;
    background-color: $color-bg;
    text-align: center;

    &__inner {
        @include mq();
        display: grid;
        row-gap: 15px;

        @include mq() {
            grid-auto-flow: column;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__logo {
        margin: auto;
    }

    &__copy {
        font-size: 12px;
        line-height: math.div(18, 12);
    }
}

// open
.open {
    padding: 100px;

    &__inner {
        @include inner();

    }

    &__title {
        @include title-main();
    }

    &__table {
        overflow-x: auto;

        table {
            width: 100%;
            border-collapse: collapse; //reset.cssが読み込めない場合は明記する。
        }

        th {
            background-color: $color-bg;
        }

        th,
        td {
            padding: 15px;
            border: 1px solid #707070;
            text-align: center;
        }
    }

    &__tips{
        @include mq(){
            dispray:none;
        }
    }
}